
<!--<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Vous pouvez régler vos factures avec Paypal</h1>
    </header>
    <section id="modal-body">
        <div #paypal id="myPaypalButtons" style="margin: auto;"></div>
    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Fermer</button>
    </footer>
</div>-->
 
<div>
    <button (click)="payment()">
        <img src="../../assets/img/bouton-senegal-02.png">
    </button>
   
</div>